body{
	font-family: Open+Sans;
}
header {
	background-image: url("images/header.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: 522px;

}
h1{
	color: white;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin: 0 auto;
	padding-top: 222px;
	font-size: 100px;
	font-weight: 700px;
	}
/* logo image in top left*/
 .logo-image{
 	text-align: left;
	margin-top: 12px;
	position: absolute;
	padding-right: 15px;
	padding-left: 140px
}
/* text next to logo*/
.logo-text{
	position: absolute;
}
.logo-text h3{
	color: #0A3450;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	font-weight: bolder;
	padding-left: 200px;
	padding-top: 5px;

}
/*search bar*/
.search{
	  float: right;
  margin-right: 96px;
  padding-top: 20px;
}
.search a{
	  color: #072E47;
  font-family: 'Oswald',sans-serif;
  font-size: 18px;
  padding-right: 15px;
  text-decoration: none;
  padding-top: 17px;
}

