body{
	font-family: Open+Sans;
  font-size: 62.5%
}
*{
	box-sizing: border-box;
}
header {
	background-image: url("images/header.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: 522px;

}
h1{
	color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0 auto;
  padding-top: 193px;
  font-size: 10em;
  font-weight: 700;
  padding-left: 82px;
  padding-bottom: 0;
  position: relative;
  height: 100px
}
/*Text under title*/
h4{
 color: #083350;
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
  float: right;
  margin: 0;
  padding-right: 417px;
  /* position: absolute; */
  /* bottom: 56px; */
  right: 0;
  padding-top: 118px;
}
/* logo image in top left*/
 .logo-image{
 	text-align: left;
	margin-top: 12px;
	position: absolute;
	padding-right: 15px;
	padding-left: 140px
}
/* text next to logo*/
.logo-text{
	position: absolute;
}
.logo-text h3{
	color: #0A3450;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	font-weight: bolder;
	padding-left: 200px;
	padding-top: 5px;

}
/*search bar*/
.search{
	float: right;
  margin-right: 87px;
  padding-top: 15px;
}
.search a{
	color: #072E47;
  font-family: 'Oswald',sans-serif;
  font-size: 18px;
  text-decoration: none;
  font-weight: 400
}
.about{
  padding-right: 11px;
}
.search img{
  padding-left: 3px;
}

