body{
	font-family: 'Open Sans';
/*  font-size: 62.5%*/
}
.container{
  position: absolute;
}
*{
	box-sizing: border-box;
}
header {
	background-image: url("images/header.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: 522px;

}
h1{
	color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0 auto;
  padding-top: 193px;
  font-size: 100px;
  font-weight: 700;
  padding-left: 82px;
  padding-bottom: 0;
  position: relative;
  height: 100px
}
h2{
  color: #0A3451;
  font-size: 60px;
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
}
/*Text under title*/
h3{
  color: #0A5CA8;
  line-height: 50px;
}
h4{
 color: #083350;
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
  float: right;
  margin: 0;
  padding-right: 417px;
  right: 0;
  padding-top: 118px;
}
h5{
  color: #BAC6CF;
  float: right;
  margin-top: 13px;
  margin-right: 320px;
  font-weight: 100;
}
h5 span{
  text-decoration: underline;
}
p {
  color: #626C73;
  line-height: 24px
}
/* logo image in top left*/
 .logo-image{
 	text-align: left;
	margin-top: 12px;
	position: absolute;
	padding-right: 15px;
	padding-left: 140px
}
/* text next to logo*/
.logo-text{
	position: absolute;
  margin-top: -11px
}
.logo-text h3{
	color: #0A3450;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	font-weight: bolder;
	padding-left: 200px;
	padding-top: 5px;

}
/*search bar*/
.search{
	float: right;
  margin-right: 87px;
  padding-top: 15px;
}
.search a{
	color: #072E47;
  font-family: 'Oswald',sans-serif;
  font-size: 18px;
  text-decoration: none;
  font-weight: 400
}
.about{
  padding-right: 11px;
}
.search img{
  padding-left: 3px;
}
.content{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.blog1{
  width: 63%;
  float: left;
  margin-right: 45px;
  margin-left: auto

}
.blog-title{
  margin-left: 35px;
  margin-bottom: -23px;
  font-size: 62px;
}
.blog-title2{
  margin-left: 35px;
  margin-top: 0px;
  margin-bottom: -9px;
  font-size: 64px;
}
.sidebar{
  float: left;
  width: 20%;
  margin-left: 109px;
  margin-top: 13px;
  margin-right: auto;
  margin-left: 45px
}
.big-author{
  margin-left: 97px;
  padding-bottom: 0;
}
.social{
  padding-left: 55px;
  margin-bottom: 47px;
}
.social p{
  margin-left: 37px;
  margin-bottom: 0;
}
.other-posts{
 clear: both;
}
.small-author{
  width: 3.5%;
  margin-left: 39px;
}
.author a{
  text-decoration: none;
  color: #1B6FB1;
  font-size: 13px;
  margin-left: 4px;
}
.article1{
  margin-top: 41px;
  margin-left: 35px;
}
.article2{
  margin-left: 35px;
}
.article1 p{
font-weight: 500;
margin-top: 30px;
margin-bottom: 24px;
}
.borderleft{
 border-left: solid 2px #C5C5C5;
  height: 52px;
  margin-left: 42px;
  font-size: 24px;
  padding-left: 15px;
}

